doctype html
html
  head
    title #{form} класс
    link(rel='stylesheet' href='start.css')
  body
    header
      each name in ['back', 'forward']
        button(id=name)
          a
    main
      .algebra
        .themes
          .integers
            each theme in themes.algebra.integers
              if !theme.name
                br
              else
                div
                  a(href=theme.href)=theme.name
          .fractionals
            each theme in themes.algebra.fractionals
              if !theme.name
                br
              else
                p
                  a(href=theme.href)=theme.name
      .geometry
        .themes
          .intro
            each theme in themes.geometry
              if !theme.name
                br
              else
                p
                  a(href=theme.href)=theme.name
    script(type='module' src='startpage.js')
